@import "variables1";

@mixin button() {
  display: flex;
  width: 142px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #699900;
  color: white;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: $font-primary;
  position: relative;
  background-color: $bg-body;
}

.landing-logo {
  display: flex;
  align-items: center;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 15px;

    span {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.header {
  height: 700px;
  background-image: $header-img;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 50% 0;
  padding-top: 30px;

  &_heading {
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    position: relative;
  }

  &_heading::before {
    content: "awesome";
    position: absolute;
    display: block;
    width: 250px;
    height: 60px;
    top: 70px;
    background-color: $text-highlight;
  }

  &_text {
    max-width: 700px;
    line-height: 26px;
    font-size: 16px;
  }

  &-wrap {
    max-width: 1500px;
    margin: 0 auto;

    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        margin-left: 150px;
      }
    }
  }

  &_button {
    @include button;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_text {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 700;
    position: relative;
  }

  &_text::after {
    content: "";
    position: absolute;
    display: block;
    width: 158px;
    height: 30px;
    background-color: $text-highlight;
    z-index: -1;
    right: 9px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &_link {
    color: $font-secondary;
  }

  &_card {
    background-color: $bg-card;
    max-width: 1000px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;

    &_heading {
      color: white;
      font-weight: 700;
      font-size: 18px;
    }

    &_text {
      color: $font-secondary;
      line-height: 26px;
    }

    &_img {
      width: 400px;
      height: 280px;
      border-radius: 10px;
    }

    &_right_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 60px;
    }
  }

  &_banner {
    width: 1100px;
    height: 145px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #65950d, $right-grad);
    position: absolute;
    bottom: 190px;

    &_heading {
      font-weight: 700;
      font-size: 20px;
      position: relative;
    }

    &_heading::after {
      content: "start";
      display: flex;
      width: 53px;
      height: 30px;
      background-color: $text-highlight;
      position: absolute;
      top: 50%;
      left: 94px;
      transform: translate(0, -50%);
    }

    &_text {
      color: $font-secondary;
    }

    &_button {
      @include button;
    }
  }
}

.footer {
  background-color: $bg-card;
  color: $font-secondary;
  margin-top: 80px;

  &-wrap {
    height: 242px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px;
  }

  &_text {
    max-width: 350px;
    line-height: 26px;
  }
}
