$font-primary: #2c2f3c;
$font-secondary: #a6c0b9;
$font-white: #ffffff;
$text-highlight: #14a0c7;
$bg-primary: #21232e;
$bg-card: #21232e;
$bg-body: #ffffff;
$right-grad: #2f5dd0;

$header-img: url("../img/m-h-day.jpg");
