/* write your styles here */
.header {
  text-align: center;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  justify-content: space-between;
}
.row:hover {
  background-color: lightblue;
}

.box > td {
  width: 130px;
  height: 80px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

th {
  padding: 15px 5px;
  border: 1px solid black;
  background-color: yellowgreen;
}

.arrow {
  display: inline-block;
  font-size: 25px;
  color: red;
  margin-left: 7px;
}

.arrow:hover {
  cursor: pointer;
}
