a {
  color: white;
  font-weight: 600;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  color: #2c2f3c;
  position: relative;
  background-color: #ffffff; }

.landing-logo {
  display: flex;
  align-items: center; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0 15px; }
    .landing-logo p span {
      font-size: 12px;
      font-weight: 400; }

.header {
  height: 700px;
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 50% 0;
  padding-top: 30px; }
  .header_heading {
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    position: relative; }
  .header_heading::before {
    content: "awesome";
    position: absolute;
    display: block;
    width: 250px;
    height: 60px;
    top: 70px;
    background-color: #14a0c7; }
  .header_text {
    max-width: 700px;
    line-height: 26px;
    font-size: 16px; }
  .header-wrap {
    max-width: 1500px;
    margin: 0 auto; }
    .header-wrap div {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .header-wrap div a {
        margin-left: 150px; }
  .header_button {
    display: flex;
    width: 142px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #699900;
    color: white;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center; }
    .header_button:hover {
      cursor: pointer; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section_text {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 700;
    position: relative; }
  .section_text::after {
    content: "";
    position: absolute;
    display: block;
    width: 158px;
    height: 30px;
    background-color: #14a0c7;
    z-index: -1;
    right: 9px;
    top: 50%;
    transform: translate(0, -50%); }
  .section_link {
    color: #a6c0b9; }
  .section_card {
    background-color: #21232e;
    max-width: 1000px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px; }
    .section_card_heading {
      color: white;
      font-weight: 700;
      font-size: 18px; }
    .section_card_text {
      color: #a6c0b9;
      line-height: 26px; }
    .section_card_img {
      width: 400px;
      height: 280px;
      border-radius: 10px; }
    .section_card_right_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 60px; }
  .section_banner {
    width: 1100px;
    height: 145px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #65950d, #2f5dd0);
    position: absolute;
    bottom: 190px; }
    .section_banner_heading {
      font-weight: 700;
      font-size: 20px;
      position: relative; }
    .section_banner_heading::after {
      content: "start";
      display: flex;
      width: 53px;
      height: 30px;
      background-color: #14a0c7;
      position: absolute;
      top: 50%;
      left: 94px;
      transform: translate(0, -50%); }
    .section_banner_text {
      color: #a6c0b9; }
    .section_banner_button {
      display: flex;
      width: 142px;
      height: 50px;
      border: none;
      border-radius: 6px;
      background-color: #699900;
      color: white;
      font-size: 18px;
      font-weight: 700;
      justify-content: center;
      align-items: center; }
      .section_banner_button:hover {
        cursor: pointer; }

.footer {
  background-color: #21232e;
  color: #a6c0b9;
  margin-top: 80px; }
  .footer-wrap {
    height: 242px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px; }
  .footer_text {
    max-width: 350px;
    line-height: 26px; }
