.tm-main-nav {
	box-shadow: 2px 2px 5px grey;
}

.tm-nav-item:hover {
	background-color: lightgrey;
}

section {
	box-shadow: 2px 2px 5px grey;
	position: relative;
}

section:not(.tm-content-box)::before, .heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 25px solid #97CEFA;
    border-right: 250px solid transparent;
    z-index: 1;
}

.tm-banner {
	border: 2px solid grey;
	box-shadow: 2px 2px 5px grey;
}

.tm-section-title {
	color: gainsboro;
	letter-spacing: 5px;
}

.flex-2-col {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

p {
	line-height: 35px;
	text-indent: 25px;
}

p:not(.tm-banner-text):first-letter {
	font-size: 30px;
	color: #97CEFA;
}

h2 + p {
	font-style: italic;
}

a {
	color: black;
	position: relative;
}

a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #97CEFA
}

a.text::after {
	content: 'New';
	position: absolute;
	right: -30px;
	top: 0;
	font-size: 12px;
}

.box-bg:hover {
	background-color: #97CEFA;
}

.box-bg h2:hover {
	color: white;
	font-weight: bold;
}

.blocks .box {
	padding: 10px;
}

.box div p {
	font-size: 14px;
	text-indent: 0;
	line-height: 26px;
}

.box div p::first-letter {
	color: black;
}

.box:nth-child(n+1):nth-child(even) {
	background-color: #97CEFA;
}

.mandatory-field::after {
	content: '*';
}

.submit-btn {
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 25px;
	width: 105px;
	border-radius: 0;
	background-color: transparent;
	border: 1px solid #97CEFA;
	color: #97CEFA;
	margin-left: calc(100% - 105px);
}

.submit-btn:hover {
	color: white;
}

@media print {
    .tm-sidebar, .heading, .blocks, #ideas, .tm-footer , #about, #contact, .img-contact-us {
        display: none;
    }

    section::before {
        display: none;
    }
}
