/* Your code goes here */
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.buttons {
    margin-top: 15px;
    display: flex;
}

button:nth-of-type(1) {
    margin-right: 15px;
}
